# Dependencies
node_modules/

# Build outputs
dist/
.next/
.turbo/

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/database/prisma/migrations/

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Turbo
.turbo/

#Info BDD
.txt