# GesCom MySQL Connection
GESCOM_DB_HOST=
GESCOM_DB_PORT=
GESCOM_DB_NAME=
GESCOM_DB_USER=
GESCOM_DB_PASS=

# Backend API Settings
API_BASE_URL=
API_SYNC_KEY=

# Local Images Path (GESCOM Images)
IMAGES_PATH=

# Sync Settings
PRODUCTS_SYNC_CRON=
SAFETY_STOCK=
